.rotate-icon {
  transform: rotate(360deg); /* Pivoter de 180 degrés */
  transition: transform 0.5s ease-in-out; /* Animation douce */
}

mat-icon {
  transition: transform 0.5s ease-in-out; /* Transition pour l'animation */
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 3px;
}

.img-logo {
  height: 1.7rem;
  margin-right: 0.3rem;
}

.menu-mat{
  margin-top: 10px;
}

.navbar-version {
  font-size: 1rem;
  color: #ffffff; 
}

.mat-toolbar{
  background-color: #1F1F1F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 ;
  margin: 0;
  width: auto;
}
.actions {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.high{
  color: #ff0505;
  display: flex;
  justify-content:space-between;
}
.medium{
  color: #ff5b00;
  display: flex;
  justify-content:space-between;
}
.low{
  color: #ff8f00;
  display: flex;
  justify-content:space-between;
}
.warning{
  color: #FFC302;
  display: flex;
  justify-content:space-between;
}

.title-notification{
  font-size: 12px;
  font-family: BebasNeue;
  color: #fff;
  margin-left: 10px;
}
.slide{
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
}

.menu-content {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1F1F1F;
  li {
    font-size: 12px;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    font-family: BebasNeue;
    .icon{
      transform: scale(0.5);
    }
  }
  li:hover {
    color: #fff;
  }
}
mat-slide-toggle.my-slide {
  .mat-slide-toggle-bar {
    background-color: #1F1F1F;
  }
  --mdc-form-field-label-text-font: Sesame;
  --mdc-form-field-label-text-size: 12px;
} 

.full-width {
  width: 100%;
}

