.stacked {
     font-family:BebasNeue !important;
    width: 100%;
    padding: 0;
   // height: 300px;
    display: block;
}

.highcharts-series-group {
    border-radius: 100px !important;
}

.highcharts-plot-border {
    border-radius: 100px !important;
}

.highcharts-container {
    padding: 0 !important;
}