
.mat-typography{
    font-family: Inter, sans-serif!important;
  }

  //button view all
  .b-view {
    background: #F0EEFC;
    border: 1px solid #7B5DFF;
    border-radius: 8px;
    color: #7B5DFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    width: 85px;
    padding: 1px 12px;
    text-align: center;
    touch-action: manipulation;
  }

  .b-view:hover,
  .b-view:active {
    background-color: initial;
    background-position: 0 0;
    color: #F0EEFC;
  }

  .b-view:active {
    opacity: .5;
  }

  section {
    display: flex;
    margin-top: 1%;
    justify-content: space-between
  }

  .graph-title {
    font-size: 20px;
    color: white;
    padding: 10px 0 0 1%;
  }

  .card-title{
    color: white;
    font-size: 20px;
    font-family: BebasNeue, serif;
    margin: 0;
  }
  .count {
    font-family: BebasNeue;
    font-size: 30px;
    display: inline-block;
  }

  //card custom
  .custom-card {
    background-color: #323231;
    width: 19%;
    height: 100px;
    padding: 20px;
    border-radius: var(--mat-card-border-radius);
  }

  .bg-black {
    background-color: #1F1F1F;
    border-radius: 16px;
    padding: 20px;
  }

  .cards-container {
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    .custom-cards {
      padding: 20px;
      border-radius: var(--mat-card-border-radius);
    }

  }

  .card-content {
    padding: 0 !important;
  }

  .custom-cards:nth-child(1) {
    background-color: rgba(255, 87, 51, 0.8); /* Couleur pour la première carte avec opacité */
  }

  .custom-cards:nth-child(2) {
    background-color: rgba(51, 255, 87, 0.8); /* Couleur pour la deuxième carte avec opacité */
  }

  .custom-cards:nth-child(3) {
    background-color: rgba(51, 87, 255, 0.8); /* Couleur pour la troisième carte avec opacité */
  }

  .custom-cards:nth-child(4) {
    background-color: rgba(241, 196, 15, 0.8); /* Couleur pour la quatrième carte avec opacité */
  }

  .card-content {
    padding: 0 !important;
  }


  .content-wrapper {
    display: flex;
  }

  .text-section {
    width: 86%;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
    color: #EEEDE6;
    font-family: 'Inter', 'Inter Semi Bold', sans-serif;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main-number {
    font-size: 24px;
    line-height: 16px;
    color: #FF0000;
    font-family: 'Inter', 'Inter Semi Bold', sans-serif;
  }

  .sub-number {
    font-size: 18px;
    line-height: 20px;
    color: #EEEDE6;
    font-family: 'Inter', 'Inter Semi Bold', sans-serif;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
  }

  // toggle group alert
  mat-button-toggle-group {
    border-radius: 10px;
    border: solid 1px #D9D8D2;
  }

  mat-button-toggle {
    color: #C5C4BE;
    background: transparent;
    border: none;
  }

  mat-button-toggle.mat-button-toggle-checked {
    background-color: #F0EEFC;
    color: #7B5DFF;
  }

  .areaspeline {
    width: 49.5%;
  }

  //AI
  .item-ai{
    font-size: 14px;
    margin: 0;
  }

  //mat toggle --------------------------
  .custom-toggle-group {
    height: 32px;
  }

  .custom-toggle {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-toggle .mat-button-toggle-label-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
  }


  .pie {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
    margin-right: 500px;
  }


  .column-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
  }

  .alerts-card-pie {
    margin-bottom: 1%;
    background-color: #1F1F1F;
    border-radius: 16px;
    flex: 0 0 48%;
    margin: 10px;
      height: 100%;

  }
  .tab-card {
  width: 64%;
  height: 50% !important;}

  ::ng-deep .asset-table-container .select-sidenav {
    width: 15% !important;
    max-width: 500px !important;
  }


  .rounded-circle {
    border-radius: 50% !important;
  }

  .font-weight-bold {
    font-weight: 700 !important;
  }
  h1.title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
    color:#eee;
  }

  .col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 0;
    background-clip: border-box;
    border-radius: 15px;
    margin: 10px;
    background-color: #323231;
  }

  .card-body {
    min-height: 1px;
    padding: 1.5rem;
    display: flex;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    align-items: center;
  }

  .header-title {
    padding: 10px 0 0px 5px;
    margin: 0;
  }

  .main-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    margin:0;
  }

  .icon-shape {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide de zoom et de l'ombre */

    &:hover {
      transform: scale(1.2); /* Zoom de l'icône à 120% */
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Ajoute une ombre légère pour un effet de profondeur */
    }
  }


  .bg-total {
    background : rgba(251, 253, 109, 0.8);
  }
  .bg-gradient-total {
    background: linear-gradient(to right, #f8fa88fb, #fbff25fb); /* Dégradé rouge-orangé pour Total */
  }
  .bg-connected {
  background : rgba(127, 240, 153, 0.8);
  }
  .txt-connected, .fa-plug {
    color: #2E8B57 !important;
  }
  .txt-offline, .fa-plug-circle-xmark {
    color: #F44949 !important;
  }
  .bg-gradient-connected {
    background: linear-gradient(to right, #33FF57, #28a745); /* Dégradé vert pour Connected */
  }

  .bg-offline {
    background: rgba(250, 153, 111, 0.8);
  }
  .bg-gradient-offline {
    background: linear-gradient(to right, #FF8C00, #ff4d00); /* Dégradé orange pour offline */
  }

  .text-black {
    color: #1F1F1F;
  }

  .bg-new-asset {
    background: rgb(134, 200, 255) !important;
    color: #1F1F1F !important;
    padding: 5px;
    font-size: 18px;
    border-radius: 16px;
    animation: blink-animation 1s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .bg-new{
    background: rgba(134, 200, 255, 0.8);
  }
  .bg-gradient-new {
    background: linear-gradient(to right, #1E90FF, #4682B4); /* Dégradé bleu pour New */
  }

  .icon-stats{
    color: #fff;
    font-size: 32px;

  }

  .name {
    font-size: 1.2rem;
  }



  .card-body .h2 {
    font-size: 2rem;
  }

  .icon {
    width: 4rem;
    height: 4rem;
    max-width: 100%;
    flex: 0 0 auto;
  }

  .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  .icon-stat {
    width: 32px;
    height: auto;
  }

  .grid-infos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    }

    .chip-body {
        background-color: rgb(148, 148, 148);
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        h6{
            font-weight: bold;
            font-size: 18px;
            font-family: BebasNeue;
            color: #323231;
        }

    }
    .d-column {
        flex-direction: column;
        background: #1F1F1F;
        padding: 20px;
        border-radius: 16px;
        margin-bottom: 10px;
    }

    .main-title {
      display: flex;
      align-items: center;
      width: 100%;
        font-family: BebasNeue;
        margin-bottom: 10px;
    }


    .file-table {
      width: 100%;
      border-collapse: collapse;
    }

    .mat-cell {
      color: white;
      font-size: 16px;
      padding: 16px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .file-name-cell {
      background-color: #1F1F1F;
      text-align: left;
    }

    .actions-cell {
      text-align: center;
      background-color: #1F1F1F;
    }

    .mat-row:last-child .mat-cell {
      border-bottom: none;
    }

    .mat-icon {
      color: white;
      margin: 0;
    }

    .mat-mdc-table {
      background-color: #1F1F1F;
    }

    .label {
      color: var(--radm-lightblue);
      font-size: 16px;
      font-weight: 700;
    }

    .card-title{
      color: white;
      font-size: 22px;
      font-family: BebasNeue, serif;
    }
