
.container {
    background-color: #27293d;
    border-radius: 2%;
  }
  
  .pie_sank {
    display: flex;
    justify-content: space-between;
  }
  
  .pies, .sankey {
    background-color: #27293d;
    border-radius: 2%;
  }
  
  .mat-button-toggle {
    background-color: #FF0000;
  }
  
  .mat-button-toggle-checked {
    background-color: #FF0000;
  }
  
  .boutons {
    display: block;
    z-index: 10;
    position: absolute;
    right: 23px;
    margin: 5px;
  }
  
  .card {
    background-color: #27293d !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
  }
  
  app-table {
    padding: 20px;
  }
  