<div class="change-password-container">
    <div class="change-password-content">
        <h1>Change Password</h1>
        <p class="subtitle">You must change your password for first connection</p>

        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" >
                <mat-label>New Password</mat-label>
                <input [type]="getInputType('new')" matInput formControlName="newPassword" name="newPassword"
                    autocomplete="new-password" required>
                <mat-icon matSuffix (click)="togglePasswordVisibility('new')" [matTooltip]="getVisibilityTooltip('new')"
                    role="button" tabindex="0">
                    {{ getVisibilityIcon('new') }}
                </mat-icon>
                @if (getFieldError('newPassword')) {
                <mat-error>{{ getFieldError('newPassword') }}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width" >
                <mat-label>Confirm New Password</mat-label>
                <input [type]="getInputType('confirm')" matInput formControlName="confirmPassword"
                    name="confirmPassword" autocomplete="new-password" required>
                <mat-icon matSuffix (click)="togglePasswordVisibility('confirm')"
                    [matTooltip]="getVisibilityTooltip('confirm')" role="button" tabindex="0">
                    {{ getVisibilityIcon('confirm') }}
                </mat-icon>
                @if (getFieldError('confirmPassword')) {
                <mat-error>{{ getFieldError('confirmPassword') }}</mat-error>
                }

            </mat-form-field>
            <div class="button-actions">
                <button mat-raised-button color="primary" class="change-password-btn">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>