// substract the height of the navbar and the footer with there's margin
// the height include navbar + footer + h2 title + h2 margin-bottom + toolbar + toolbar margin-bottom
$heightContents:calc(100vh - (var(--navbar-height) + var(--footer-height) + 40px ));

.content{
  padding: 0;
  margin: 0;
  height:$heightContents; 
}
 
.main-title{
    color: #eee;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;

}
#spinner{
    z-index: 99;
    position: absolute;
    top:50%;
    left: 50%;
}
#otFilterToolbar{
    height: 6rem;
}

#otDiagram{
    width: 100%;
    height:$heightContents;
    background-color: transparent;
}
#otPalette{
    width: 7rem;
    height: $heightContents;
    z-index: 99;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    padding: 0;
    background-color: #eee;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
}
.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.show{
    display: block;
}
.hide{
    display: none;
}
