:host{
  --mat-form-field-subscript-text-line-height:0; 
  --mdc-outlined-text-field-label-text-size:0.9rem;
  --mdc-outlined-text-field-label-text-weight:500;  
 
}
::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none !important;
}

.mat-mdc-form-field-subscript-wrapper, 
.mat-mdc-form-field-bottom-align::before {
  height: 0 !important;
  display: none !important;
}
mat-button-toggle-group {
  border-radius: 4px;
  border: solid 1px #D9D8D2;
}

mat-button-toggle {
  color: #C5C4BE;
  background: transparent;
  border: none;
}

mat-button-toggle.mat-button-toggle-checked {
  background-color: var(--radm-lightblue);
  color: var(--radm-black);
  &.custom-toggle:nth-last-child(1)::after {
    color: var(--radm-black);
  }
}
.custom-toggle-group {
  height: 39px;
}
.custom-toggle {
  height: 39px;
  width: auto;
  padding: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--mdc-outlined-text-field-label-text-font);
  font-size: var(--mdc-outlined-text-field-label-text-size);
  font-weight: var(--mdc-outlined-text-field-label-text-weight);
  color: var(--mdc-outlined-text-field-label-text-color);
}

.custom-toggle .mat-button-toggle-label-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.start-date, .end-date {
  padding: 5px;
  display: grid;
  grid-template-columns: [left] 15% [middle] 60% [right] auto;
  gap: 2px;
} 
 
#time-input{
  margin: 0;
  padding: 0;
}

.input-hours,
.input-dates{ 
  margin: 0 0.5rem;
  padding: 0;
}
.input-dates{
  width: 10rem;
}
.input-hours{
  width: 5rem;
}
.collapse {
  background: transparent;
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 3px; 
}

.selected-dates { 
  width: 100%;
  display: flex; 
  gap: 1rem; 
  height: 39px;
  font-size: 0.8rem;
  margin-right: 1rem;
  
  .date-range {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    gap: 0;
    .txt-dates,
    .label-date {
      display: flex;  
      font-weight: bold;  
      padding: 0;
      margin: 0;
    } 
    .txt-dates{
      color: var(--radm-lightblue);
    }
  }

}

.time-selector {
  display: flex;
  justify-content: space-between;
  padding-right: 12px; 
}

.time-selector-content { 
  display: flex;
  align-items: center; 
} 
 
.main-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}

.container-title {
  display:flex;
  gap: 20px
}