.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.logo-big{
  font-family: Sesame;
  font-size: 6rem; 
  background: linear-gradient(90deg, #3fc7eb, #0e1eaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
  word-spacing: 30px;
}
.column-left {
  background-color: #1f1f1f;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-right {
  background-color: #eee;
  width: 40%;
  height: 100vh;
  padding: 5rem; 
}

/* --- API Container --- */
.container-api {
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  
  .version {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
  }
}

.img-logo {
  width: 400px;
}

.pings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* --- Statuts API --- */
.apiUp, .apiDown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.apiUp {
  background-color: rgba(76, 175, 80, 0.3);
  color: #a4e5a0;
  border: 1px solid #4caf50;
  
  mat-icon {
    color: #4caf50;
    margin-right: 8px;
    animation: pulse 1.5s infinite;
  }
}

.apiDown {
  background-color: rgba(244, 67, 54, 0.3);
  color: #f9b7b7;
  border: 1px solid #f44336;
  
  mat-icon {
    color: #f44336;
    margin-right: 8px;
    animation: blink 1.5s infinite;
  }
}

.infos {
  color: #a4e5a0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* --- Typography --- */
h1 {
  font-size: 1vmax;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 20px;
  color: white;
}

/* --- Animations --- */
@keyframes blink {
  0%, 100% { 
    opacity: 1; 
  }
  50% { 
    opacity: 0.3; 
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
}
 
@media screen and (max-width: 1024px) {
  .container-login {
    flex-direction: column;
  }

  .column-left, 
  .column-right {
    width: 100%;
    height: auto; 
  }

  .container-api {
    width: 90%;
    margin: 40px auto;
  }

  .img-logo {
    width: 120px;
  }
}
