 <page-header [title]="'Alert'" [subtitle]="'Occurences'"/>

<div class="content">
  <section class="tab">
    <div class="column-100">
      <app-table
        #tableComponent
        [tableDataResponse]="alerts()"
        [tableColumns]="ordersTableColumns"
        [displayedColumns]="displayedColumns"
        [fields]="fields"
        [checkField]="'_id'"
        [form]="form()"
        [length]="length"
        (tableActions)="tableActions($event)"
        (cellDatas)="getCellDatas($event)"
        [seeMore]="false"
        [defaultPageSize]="100">
      <button slot="delete-button" (click)="openDeleteModal()" mat-button class="button-action"> <mat-icon>delete</mat-icon> Delete</button>
      </app-table>
    </div>
  </section>

  @if (showTimeline) {

    <section class="main-section" id="timeline">
      <div class="left-section">
        <app-infinite-scroll
          [hasMorePages]="hasMorePages"
          [isLoading]="isLoading"
          (loadMore)="loadMoreTimelineEvents()"
        >
          <app-timeline
            [events]="selectedEvents()"
            [lastData]="lastData"
            [firstData]="firstData"
          ></app-timeline>
        </app-infinite-scroll>
      </div>

      <div class="right-section">
        <div class="chart-card">
          <mat-card class="radm-card">
            <mat-card-content>
              <div>
                <h3 class="graph-title card-title">
                  Severity alerts repartition
                </h3>
              </div>

              <div>
                <app-pie [graphOptions]="alertsBySevPie()"/>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="radm-card">
            <mat-card-content>
              <div>
                <h3 class="graph-title card-title">Alerts trends</h3>
              </div>
              <div>
                <app-area [graphOptions]="alertsLineGraphOptions()"/>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </section>
  }
</div>

