.mat-typography{
    font-family: Inter, sans-serif!important;
  }

  //button view all
  .b-view {
    background: #F0EEFC;
    border: 1px solid #7B5DFF;
    border-radius: 8px;
    color: #7B5DFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    width: 85px;
    padding: 1px 12px;
    text-align: center;
    touch-action: manipulation;
  }

  .b-view:hover,
  .b-view:active {
    background-color: initial;
    background-position: 0 0;
    color: #F0EEFC;
  }

  .b-view:active {
    opacity: .5;
  }

  section {
    display: flex;
    margin-top: 1%;
    justify-content: space-between
  }

  .graph-title {
    font-size: 20px;
    color: white;
    padding: 10px 0 0 1%;
  }

  .card-title{
    color: white;
    font-size: 22px;
    font-family: BebasNeue;
    padding: 1.5% 0 0 1%;
  }

  //card custom
  .custom-card {
    background-color: #323231;
    width: 19.7%;
    height: 100px;
    padding: 20px;
    border-radius: var(--mat-card-border-radius);;
  }

  .card-content {
    padding: 0!important;
  }

  .content-wrapper {
    display: flex;
  }

  .text-section {
    width: 86%;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
    color: #EEEDE6;
    font-family: 'Inter', 'Inter Semi Bold', sans-serif;
  }

  .main-number {
    font-size: 24px;
    line-height: 16px;
    color: #FF0000;
    font-family: 'Inter', 'Inter Semi Bold', sans-serif;
  }

  .sub-number {
    font-size: 18px;
    line-height: 20px;
    color: #EEEDE6;
    font-family: 'Inter', 'Inter Semi Bold', sans-serif;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
  }

  // toggle group alert
  mat-button-toggle-group {
    border-radius: 10px;
    border: solid 1px #D9D8D2;
  }

  mat-button-toggle {
    color: #C5C4BE;
    background: transparent;
    border: none;
  }

  mat-button-toggle.mat-button-toggle-checked {
    background-color: #F0EEFC;
    color: #7B5DFF;
  }

  .areaspeline {
    width: 49.5%;
  }

  .main-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
  }

  .filter-category-multiple {
    padding: 8px 18px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 8px;
    font-size: 18px;
    width: 30%;
    box-sizing: border-box;
  }


  .filter-category, .filter-category-custom {
    padding: 8px 4px;
    background-color: #333;
    color: #fff;
    height: 46px;
    border: 1px solid #555;
    border-radius: 8px;
    font-size: 15px;
    width: 30%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .filter-category::-ms-expand {
    display: none;
  }

  .filter-category::after {
    content: '▼';
    font-size: 16px;
    color: #fff;
    padding-left: 8px;
  }

  .filter-category:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
  }

  .mg-0 {
    margin: 0;
  }

  .card {
    background-color: #696666;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    padding-left: 20px;
    align-items: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 16px;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
}

.timeline-event {
  padding: 20px;
  background-color: #1F1F1F;
  border-radius: 8px;
  position: relative;
}

.event-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.event-icon {
  margin-right: 10px;
}

.event-info {
  flex-grow: 1;
}

.event-body {
  padding-top: 10px;
  border-top: 1px solid #444;
  position: relative;
}

.arrow-down {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  margin-top: 5px;
  font-size: 36px;
  color: #fff;
}

.timeline-event::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 2px;
  height: 40px;
  background-color: #fff;
  z-index: -1;
}

.timeline-event:last-child::after {
  display: none;
}

.main-section {
 display: flex;
flex-direction: row;
//align-items: center;
  justify-content: space-between;
width: 100%;
background-color: #1F1F1F;
border-radius: 16px;
}

.left-section {
  flex: 0 0 65%; /* Prend fixement 35% de l'espace */
  padding: 20px;
  box-sizing: border-box;
}

.right-section {
  flex: 0 0 35%;
  padding: 20px;
  box-sizing: border-box;
}



.chart-card {
  display: flex;
  flex-direction: column;

}



@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
}

.tab {
  margin: 0;
}

.modal {
  background-color: #252525;
}

.date-form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.date-input {
  width: 35%;
}
