<div class="header-title">
    <div>
        <app-time-selector [title]="'Rule Set Generator'">
        </app-time-selector>
    </div>
</div>

<div class="layout">
    <div class="left">
        @for (rule of rulesSetData(); track $index) {
        <mat-card class="chips-card">
            <div class="card-header">
                <div class="card-title">{{rule.title}}</div>
            </div>

            <div class="chips-row">
                @for (chip of rule.options; track $index) {
                <div class="chip-wrapper">
                    <mat-chip appearance="outline" class="rounded-chip" role="option"
                        (click)="onChipClick(rule, $index)" [style.borderColor]="chip.color"
                        [style.background]="chip.color ? chip.color + '30' : 'transparent'">
                        {{ chip.label }}
                    </mat-chip>
                </div>
                }

            </div>
        </mat-card>
        }
    </div>
    <div class="right">
        <mat-card class="form-card">
            <div class="matching-rule-label">Matching Rules</div>
            <div class="circle-value">
                @if (isCounting()) {
                <div class="counting-indicator">
                    <div class="spinner"></div>
                </div>
                } @else {
                {{ rulesCount() }}
                }
            </div>
            <div class="ioc-label">IOC max age</div>

            <mat-form-field appearance="outline" class="ioc-input">
                <input matInput type="number" [(ngModel)]="iocMax" (keyup)="debouncedCountRules()">
            </mat-form-field>

            @if (validationErrors().length > 0) {
            <div class="validation-errors">
                <div class="error-message">{{ validationErrors()[0] }}</div>
            </div>
            }

            <button mat-raised-button color="primary" class="generate-btn"
                [disabled]="isGenerating() || !isValidSelections() || rulesCount() === 0 || isCounting()"
                (click)="generateRule()">
                @if (isGenerating()) {
                <div class="generating-indicator">
                    <div class="spinner-black"></div>
                    <span>Processing...</span>
                </div>
                } @else {
                GENERATE
                }
            </button>
        </mat-card>
    </div>
</div>